<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Movies</title>
</head>
<body>
    <h1>Welcome to the Favorite Movies app!</h1>
    <h2>Make and manage a list of your favorite movies.</h2>
    <a href="/movies">Current List</a>
    <a href="/movies/new">Add New Movie!</a>
</body>
</html>